#watchtower-config
WATCHTOWER_DEBUG=false
WATCHTOWER_CLEANUP=true
WATCHTOWER_NOTIFICATIONS=shoutrrr #Don't change this
WATCHTOWER_NOTIFICATION_URL=mattermost://<USERNAME>@<MATTERMOST_HOST>/<WEBHOOK_TOKEN>/<CHANNEL_NAME>
WATCHTOWER_POLL_INTERVAL=1800 #30 Minutes

#Cron
WATCHTOWER_POLL_INTERVAL=21600 #6 Hours
#TZ=Asia/Jakarta
#WATCHTOWER_SCHEDULE=* 6 * * *

#HTTP API Mode (remove this if you want to use polling mode)
WATCHTOWER_HTTP_API_PERIODIC_POLLS=true
WATCHTOWER_HTTP_API_UPDATE=true
WATCHTOWER_HTTP_API_TOKEN= #Generate secure token: tr -dc A-Za-z0-9 </dev/urandom | head -c 64; echo

#aws-credentials-helper
AWS_REGION=<YOUR_AWS_REGION> #example: ap-southeast-1
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
